<h1>Tenants</h1>
<p><a href = "/tenants/new" >Create New Tenant</a></p>
<table>
    <% current_user(session).tenants.each do |tenant| %>
        <tr>
            <td><a href = "/tenants/<%= tenant.id %>"><%= tenant.org_name %></a></td>
        </tr>
    <% end %>
</table>
