<h1>Tenants</h1>
<form method = "GET" action = "/tenants/new">
<button type = "submit" class = "btn btn-light btn-sm">Create New Tenant</button>
</form>
<table>
    <% current_user(session).tenants.each do |tenant| %>
        <tr>
            <td><a href = "/tenants/<%= tenant.id %>"><%= tenant.org_name %></a></td>
        </tr>
    <% end %>
</table>
