<h1>Create New Tenant</h1>
<form method = "POST" action = "/tenants/new">
<h3>Organization Information</h3>
<table>
    <tr>
        <td><label>Name:</label></td>
        <td><input type = "text" id = "org_name" name = "org_name"></td>
    </tr>
    <tr>
        <td><label>Type:</label></td>
        <td><input type = "radio" id = "commercial" name = "org_type" value = "Commercial">
            <label for = "commercial">Commercial</label>
            <input type = "radio" id = "non-profit" name = "org_type" value = "Non-Profit">
            <label for = "non-profit">Non-Profit</label>
            <input type = "radio" id = "internal" name = "org_type" value = "Internal">
            <label for = "internal">Internal</label></td>
    </tr>
    <tr>
        <td><label>Address:</label></td>
        <td><input type = "text" id = "org_address" name = "org_address"></td>
    </tr>
    <tr>
        <td><label>City:</label></td>
        <td><input type = "text" id = "org_city" name = "org_city"></td>
    </tr>
    <tr>
        <td><label>State:</label></td>
        <td><input type = "text" id = "org_state" name = "org_state"></td>
    </tr>
    <tr>
        <td><label>Zip:</label></td>
        <td><input type = "text" id = "org_zip" name = "org_zip"></td>
    </tr>
</table>
<h3>Point of Contact</h3>
<table>
    <tr>
        <td><label>Name:</label></td>
        <td><input type = "text" id = "poc_name" name = "poc_name"></td>
    </tr>
    <tr>
        <td><label>Phone:</label></td>
        <td><input type = "text" id = "poc_phone" name = "poc_phone"></td>
    </tr>
    <tr>
        <td><label>Email:</label></td>
        <td><input type = "text" id = "poc_email" name = "poc_email"></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Create Tenant">
</form>