<h1>Edit Inventory Settings</h1>
<form method = "POST" action = "/venues/<%= @venue.id %>/inventories/<%= @inv.id %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<table>
    <tr>
        <td><label>Name:</label></td>
        <td><input type = "text" id = "name" name = "name" value = "<%= @inv.name %>"></td>
    </tr>
    <tr>
        <td><label>Notes:</label></td>
        <td><textarea id = "description" name = "description"><%= @inv.description %></textarea></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Update">
</form>