<h1>Edit Task</h1>
<form method = "POST" action = "/tasks/<%= @task.id %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<table>
    <tr>
        <td><label for = "name">Name:</label></td>
        <td><input type = "text" id = "name" name = "name" value = "<%= @task.name %>"></td>
    </tr>
    <tr>
        <td><label for = "content">Notes:</label></td>
        <td><textarea id = "content" name = "content"><%= @task.content %></textarea></td>
    </tr>
</table>
<button type = "submit" id = "submit" class = "btn btn-light btn-sm">Update</button>
</form>
