<h1>Create New Task</h1>
<form method = "POST" action = "/tasks/new">
<table>
    <tr>
        <td><label>Name:</label></td>
        <td><input type = "text" id = "name" name = "name"></td>
    </tr>
    <tr>
        <td><label>Notes:</label></td>
        <td><textarea id = "content" name = "content"></textarea></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Create Task">
</form>