<h3>New Task</h3>
<form method = "POST" action = "/tasks/new">
    <div class ="form-group">
        <label for = "name">Name</label>
        <input type = "text" id = "name" name = "name" class = "form-control">
    </div>
    <div class ="form-group">
        <label for = "content">Notes</label>
        <textarea id = "content" name = "content" class = "form-control"></textarea>
    </div>
    <button type = "submit" id = "submit" class = "btn btn-light btn-sm">Create</button>
</form>
