nav {
    text-align: center;
}

nav a {
    font-size: x-large;
}

a {
    color: #427bf5;
}

nav a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.wrapper {
    text-align: center;
    justify-content: center;
}

table {
    margin: auto;
}

td {
    padding: 5px;
}