.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

nav {
    background-color: white;
}

.content {
    background-color: wheat;
    height: 100%;
    width: 100%;
}

#nav-left {
    display: inline-flex;
    float: left;
}

#nav-right {
    display: inline-flex;
    float: right;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

p {
    font-size: small;
}