<% if is_logged_in?(session)%>

<h1>Create a New Venue</h1>

<form method = "POST" action = "/venues/new">
<h3>Venue Name</h3>
<p><label>Venue Name:</label><input type = "text" id = "venue_name" name = "name"></p>
<br>
<h3>Address</h3>
<p><label>Address Line 1:</label><input type = "text" id = "address_line_1" name = "address1"></p>
<p><label>Address Line 2:</label><input type = "text" id = "address_line_2" name = "address2"></p>
<p><label>City:</label><input type = "text" id = "city" name = "city"></p>
<p><label>State:</label><input type = "text" id = "state" name = "state"></p>
<p><label>Zip Code:</label><input type = "text" id = "zip_code" name = "zip"></p>
<br>
<h3>Stage Information</h3>
<p><label>Configuration:</label><input type = "text" id = "configuration" name = "stage_type"></p>
<p><label>Seat Count:</label><input type = "number" id = "seat_count" name = "seats"></p>
<br>
<h3>Room Count</h3>
<p><label>Greenrooms:</label><input type = "number" id = "greenrooms" name = "greenrooms"></p>
<p><label>Dressing Rooms:</label><input type = "number" id = "dressing_rooms" name = "dressing_rooms"></p>
<input type = "submit" id = "submit" value = "Create">
</form>

<% else %>
<% redirect to '/' %>
<% end %>