<h1>Create a New Venue</h1>
<form method = "POST" action = "/venues/new">
<h3>Venue Name</h3>
<table>
    <tr>
        <td><label>Venue Name:</label></td>
        <td><input type = "text" id = "venue_name" name = "name" required = "required"></td>
    </tr>
</table>
<h3>Address</h3>
<table>
    <tr>
        <td><label>Address Line 1:</label></td>
        <td><input type = "text" id = "address_line_1" name = "address1"></td>
    </tr>
    <tr>
        <td><label>Address Line 2:</label></td>
        <td><input type = "text" id = "address_line_2" name = "address2"></td>
    </tr>
    <tr>
        <td><label>City:</label></td>
        <td><input type = "text" id = "city" name = "city"></td>
    </tr>
    <tr>
        <td><label>State:</label></td>
        <td><input type = "text" id = "state" name = "state"></td>
    </tr>
    <tr>
        <td><label>Zip Code:</label></td>
        <td><input type = "text" id = "zip_code" name = "zip"></td>
    </tr>
</table>
<h3>Stage Information</h3>
<table>
    <tr>
        <td><label>Configuration:</label></td>
        <td><input type = "text" id = "configuration" name = "stage_type" required = "required"></td>
    </tr>
    <tr>
        <td><label>Seat Count:</label></td>
        <td><input type = "number" id = "seat_count" name = "seats" required = "required"></td>
    </tr>
</table>
<h3>Room Count</h3>
<table>
    <tr>
        <td><label>Greenrooms:</label></td>
        <td><input type = "number" id = "greenrooms" name = "greenrooms"></td>
    </tr>
    <tr>
        <td><label>Dressing Rooms:</label></td>
        <td><input type = "number" id = "dressing_rooms" name = "dressing_rooms"></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Create">
</form>
