<h3>Account Settings</h3>
<h4><%= current_user(session).first_name + ' ' + current_user(session).last_name %></h4>
<p>Name</p>
<h4><%= current_user(session).username %></h4>
<p>Username</p>
<form class = "form-inline" method = "POST" action = "/account">
    <input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
    <label class = "sr-only" for = "change_username">Change Username</label>
    <input type = "text" id = "change_username" name = "username" class = "form-control mb-2 mr-sm-2" required = "required" placeholder = "Change Username">
    <button type = "submit" id = "submit" class = "btn btn-light flex-blk mb-2">Update</button>
</form>
<br>
<div>
    <div class = "row">
        <div class = "col">
            <a href = "/account/password_change" class = "btn btn-light btn-block" role = "button">Change Password</a>
        </div>
        <div class = "col">
            <a href = "/account/delete" class = "btn btn-light btn-block" role = "button">Delete Account</a>
        </div>
    </div>
</div>