<h1>Account Settings</h1>
<table>
    <tr>
        <td>Name:</td>
        <td><%= current_user(session).first_name + ' ' + current_user(session).last_name %></td>
    </tr>
    <tr>
        <td>Username:</td>
        <td><%= current_user(session).username%></td>
    </tr>
</table>
<br>
<form method = "POST" action = "/account">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<p><label for = "change_username">Change Username:</label><input type = "text" id = "change_username" name = "username" required = "required"></p>
<button type = "submit" id = "submit" class = "btn btn-light btn-sm">Update</button>
</form>
<br>
<table>
    <tr>
        <td><a href = "/account/password_change" class = "btn btn-light btn-sm" role = "button">Change Password</a></td>
        <td><a href = "/account/delete" class = "btn btn-light btn-sm" role = "button">Delete Account</a></td>
    </tr>
</table>
