<h3>Enter your username and password below to log in to Venue Manager.</h3>
<form method = "POST" action = '/login'>
<table id = "login">
    <tr>
        <td><label>Username:</label></td>
        <td><input type = "text" id = "username" name = "username" required = "required"></td>
    </tr>
    <tr>
        <td><label>Password:</label></td>
        <td><input type = "password" id = "password" name = "password" required = "required"></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Log In">
</form>
