<h3>Change Password</h3>
<form method = "POST" action = '/account/password_change'>
    <input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
    <div class = "form-row">
        <div class = "form-group col-md-4">
            <label for = "old_password">Old Password</label>
            <input type = "password" class = "form-control" id = "old_password" name = "old_password" required = "required">
        </div>
        <div class = "form-group col-md-4">
            <label for = "password_1">New Password</label>
            <input type = "password" class = "form-control" id = "password_1" name = "new_password_1" required = "required">
        </div>
        <div class = "form-group col-md-4">
            <label for = "password_2">Confirm New Password</label>
            <input type = "password" class = "form-control" id = "password_2" name = "new_password_2" required = "required">
        </div>
    </div>
    <button type = "submit" id = "submit" class = "btn btn-light">Change Password</button>
</form>
