<h3>Change Password</h3>
<form method = "POST" action = '/account/password_change'>
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<table id = "password">
    <tr>
        <td><label>Old Password:</label></td>
        <td><input type = "password" id = "old_password" name = "old_password" required = "required">
    <tr>
        <td><label>New Password:</label></td>
        <td><input type = "password" id = "password_1" name = "new_password_1" required = "required"></td>
    </tr>
    <tr>
        <td><label>Confirm New Password:</label></td>
        <td><input type = "password" id = "password_2" name = "new_password_2" required = "required"></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Update">
</form>
