<h3>Fill out the below fields to create an account with Venue Manager.</h3>
<form method = "POST" action = '/signup'>
<table>
    <tr>
        <td><label for = "first_name">First Name:</label></td>
        <td><input type = "text" id = "first_name" name = "first_name" required = "required"></td>
    </tr>
    <tr>
        <td><label for = "last_name">Last Name:</label></td>
        <td><input type = "text" id = "last_name" name = "last_name" required = "required"></td>
    </tr>
    <tr>
        <td><label for = "username">Username:</label></td>
        <td><input type = "text" id = "username" name = "username" required = "required"></td>
    </tr>
    <tr>
        <td><label for = "password">Password:</label></td>
        <td><input type = "password" id = "password" name = "password" required = "required"></td>
    </tr>
</table>
<button type = "submit" id = "submit" class = "btn btn-light btn-sm">Sign Up</button>
</form>
