<h1>Venue Manager</h1>
<p>Welcome to Venue Manager, the simple way to manage performance venues.</p>
<p>Interesting features here...</p>
<br>
<p>Please log in, or sign up for an account.</p>
<p>Link to log in</p>
<p>Link to sign up</p>