<!DOCTYPE HTML>

<html>
    <head>
        <link type = "stylesheet" href = "./public/main.css">
        <title>Venue Manager</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>