<h1>Venue Manager</h1>
<h3>Welcome to Venue Manager, the simple way to manage performance venues.</h3>
<p>With Venue Manager, you can...</p>
<table>
<tr><td>Keep track of bookings</td></tr>
<tr><td>Manage inventories</td></tr>
<tr><td>Oversee employees</td></tr>
</table>
<p>Please log in, or sign up for an account.</p>
<table>
    <tr>
        <td><form method = "GET" action = "/login">
            <button type = "submit" class = "btn btn-light btn-sm">Log In</button>
            </form></td>
        <td><form method = "GET" action = "/signup">
            <button type = "submit" class = "btn btn-light btn-sm">Sign Up</button>
            </form></td>
    </tr>
</table>