<h1 class = "text-center">Venue Manager</h1>
<p class = "text-center"><em>Welcome to the simple way to manage performance venues.</em></p>
<br><br>
<a href = "/login" id = "login_link" role = "button" class = "btn btn-light btn-block">Log In</a>
<br>
<a href = "/signup" id = "signup_link" role = "button" class = "btn btn-light btn-block">Sign Up</a>
