<!DOCTYPE HTML>

<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
        <title>Venue Manager</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>