<h1>Venue Manager</h1>
<p><em>Welcome to the simple way to manage performance venues.</em></p>
<br><br>
<a href = "/login" role = "button" class = "btn btn-light btn-block">Log In</a>
<br>
<a href = "/signup" role = "button" class = "btn btn-light btn-block">Sign Up</a>
