<!DOCTYPE HTML>

<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
        <title>Venue Manager</title>
    </head>
    <body>
        <section class = "wrapper">
            <nav>
                <p><a href = '/home'>Home</a> | <a href = '/'>Login/Signup</a></p>
            </nav>
            <section class = "content">
            <% if flash[:error]%>
            <%= flash[:error]%>
            <% end %>
            <%= yield %>
            </section>
        </section>
    </body>
</html>