<!DOCTYPE HTML>

<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
        <title>Venue Manager</title>
    </head>
    <body>
        <section class = "wrapper">
            <nav>
                <p>Home | Login/Signup</p>
            </nav>
            <section class = "content">
            <%= yield %>
            </section>
        </section>
    </body>
</html>