<!DOCTYPE HTML>

<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
        <title>Venue Manager</title>
    </head>
    <body>
        <section class = "wrapper">
            <nav>
                <% if is_logged_in?(session)%>
                    <a href = '/home'>Home</a> |
                    <% if !current_user(session).venues.empty? %> 
                        <a href = '/venues'>Manage Venues</a> | <a href = '/bookings'>Bookings</a> | <a href = '/tenants'>Tenants</a> | 
                    <% end %>
                    <a href = '/logout'>Logout</a>
                <% else %>
                    <a href = '/home'>Home</a>
                <% end %>
            </nav>
            <section class = "content">
            <% if flash[:error]%>
                <%= flash[:error]%>
            <% end %>
            <%= yield %>
            </section>
        </section>
    </body>
</html>